/* Write your CSS here */
.btn {
  color: #d4d2db;
  font-size: 15px;
  padding: 5px 40px 5px 40px;
  border-radius: 10px;
  border-width: 2px;
  background-color: #585076;
  border-color: white;
  cursor: pointer;
  outline: none;
  width: 40%;
  margin: 10px;
}
